<div class="forms">
  <form class="form" id="login">
    <h2>Log in</h2>
    <label for="login-username">Username:</label>
    <input type="text" id="login-username" name="login-username" required>
    <label for="login-password">Password:</label>
    <input type="password" id="login-password" name="login-password" required>
    <button type="submit">Login</button>
  </form>

  <form class="form" id="signup">
    <h2>Sign Up</h2>
    <label for="signup-username">Username:</label>
    <input type="text" id="signup-username" name="signup-username" required>
    <label for="signup-password">Password:</label>
    <input type="password" id="signup-password" name="signup-password" required>
    <button type="submit">Sign Up</button>
  </form>
</div>

<script src="/js/signup.js"></script>
<script src="/js/login.js"></script>