/* root variables */
:root {
  --primary: #801717;
  --secondary: #000080;
  --white: #ffffff;
  --grey: #C0C0C0;
}

/* fonts */
.space-mono-regular {
  font-family: "Space Mono", monospace;
  font-weight: 400;
  font-style: normal;
}

.space-mono-bold {
  font-family: "Space Mono", monospace;
  font-weight: 700;
  font-style: normal;
}

.space-mono-regular-italic {
  font-family: "Space Mono", monospace;
  font-weight: 400;
  font-style: italic;
}

.space-mono-bold-italic {
  font-family: "Space Mono", monospace;
  font-weight: 700;
  font-style: italic;
}

.monoton-regular {
  font-family: "Monoton", sans-serif;
  font-weight: 400;
  font-style: normal;
}

/* header */
header {
  background-color: var(--primary);
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 150px;
}

header a {
  text-decoration: none;
}

h1 {
  font-family: "Monoton", sans-serif;
  font-weight: 400;
  font-style: normal;

  font-size: 2.5rem;
  display: inline;
  cursor: pointer;
  text-decoration: none;
  color: var(--secondary);
  border: 0.125em solid var(--secondary);
  box-shadow:
    0 0 0.5em 0 var(--secondary);
  padding: 0.2em 0.5em;
  border-radius: 0.25em;
  position: relative;
  top: 50px;
  left: 20px;
  background-color: var(--white);
}

nav {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-end;
  text-decoration: none;
}

nav a {
  text-decoration: none;
  font-family: "Space Mono", monospace;
  font-weight: 700;
  font-style: normal;
  color: var(--white);
  font-size: 2rem;
  margin: 10px;
  padding: 0.2em 0.5em;
  border: 0.125em solid var(--primary);
}

nav a:hover {
  color: var(--secondary);
  background-color: var(--white);
  border: 0.125em solid var(--secondary);
  border-radius: 0.25em;
  box-shadow:
    0 0 0.5em 0 var(--secondary);
  cursor: pointer;
}

body {
  margin-top: 150px;
  font-family: "Space Mono", monospace;
  font-weight: 400;
  font-style: normal;
  text-decoration: none;
  background-color: var(--primary);
}

/* recipes */
.recipes {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  text-decoration: none;
}

.recipes a,
.recipes div {
  border-radius: 1em;
  text-decoration: none;
  color: var(--secondary);
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 30%;
  margin: 1.25rem;
  padding: 2rem;
  background-color: var(--grey);
  border: 0.125em solid var(--secondary);
  box-shadow:
    0 0 0.5em 0 var(--secondary);
}

.recipe h2 {
  text-align: center;
  font-size: 2rem;
  margin-top: 5px;
}

.recipe img {
  width: 100%;
}

/* login/signup/create recipe forms */
.forms {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.form {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 40%;
  margin: 1rem;
  padding: 2rem;
  border-radius: 5px;
  background-color: var(--grey);
  border: 0.125em solid var(--secondary);
  box-shadow:
    0 0 0.5em 0 var(--secondary);
}

.form h2,
.form label,
.form input,
.form button {
  display: block;
  width: 100%;
  margin-bottom: 1rem;
}

.form h2 {
  font-size: 1.5rem;
  color: var(--secondary);
  text-align: center;
  margin-bottom: 2rem;
}

.form label {
  font-weight: bold;
  color: var(--secondary);
}

.form input[type="text"],
.form input[type="password"] {
  padding: 0.7rem;
  border: 1px solid var(--secondary);
  border-radius: 3px;
  font-size: 1rem;
  box-sizing: border-box;
}

#recipe-ingredients,
#recipe-instructions {
  margin-bottom: 5px;
}

.form p {
  font-size: 0.8rem;
  font-style: italic;
  color: var(--secondary);
  margin-top: 0;
}

.form button {
  padding: 1rem;
  background-color: var(--secondary);
  color: var(--white);
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.form button:hover {
  background-color: var(--primary);
}

/* upload recipe button */
#new-recipe-button button {
  font-family: "Monoton", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 3rem;
  color: var(--secondary);
  background-color: var(--white);
  border: 0.125em solid var(--secondary);
  padding: 0.2em 0.5em;
  border-radius: 0.25em;
  box-shadow:
    0 0 0.5em 0 var(--secondary);
  cursor: pointer;
  position: fixed;
  bottom: 20px;
  right: 30px;
}

/* delete recipe button */
#delete-recipe-button {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

#delete-recipe-button button {
  font-family: "Monoton", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 3rem;
  color: var(--secondary);
  background-color: var(--white);
  border: 0.125em solid var(--secondary);
  padding: 0.2em 0.5em;
  border-radius: 0.25em;
  box-shadow:
    0 0 0.5em 0 var(--secondary);
  cursor: pointer;
  margin: 0 auto;
  margin-bottom: 50px;
  width: 95%;
}

footer {
  height: 70px;
}

.hidden {
  display: none;
}

/* @media queries for mobile viewing */
@media screen and (max-width: 880px) {
  header {
    height: 315px;
  }

  h1 {
    margin: 0 auto;
    display: block;
    text-align: center;
    width: 80%;
    left: 0;
  }

  nav {
    flex-direction: column;
    text-align: center;
    margin-top: 60px;
  }

  nav a {
    margin: 5px;
    padding: 5px;
  }

  body {
    margin-top: 325px;
  }

  .recipes {
    flex-direction: column;
    align-content: center;
  }

  .recipe {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    width: 80%;
    height: 100%;
    border-radius: 1em;
    margin: 0 auto;
    align-items: stretch;
  }
}
